<template>
  <span
    :title="timestamp | humanFriendlyDate"
  >
    {{ timestamp | diffForHumans }}
  </span>
</template>

<script>
  import {unix} from 'moment'
  
  export default {
    props: {
      timestamp: {
        required: true,
        type: Number
      }
    },

    filters: { // filters are good when formatting date/currencies before showing to users
      humanFriendlyDate (date) {
        return unix(date).format('MMMM Do YYYY, h:mm:ss a')
        // return moment.unix(date).locale('el')format('MMMM Do YYYY, h:mm:ss a') // translating to country lang.
      },

      diffForHumans (date) {
        return unix(date).fromNow()
      }
    }
  }
</script>

<style scoped>
</style>
