<template>
  <div id="app">
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
@import "assets/css/style.css"
/*@import "~bootstrap/css/bootstrap.css" // if target is in node module*/
</style>
